body {
  background-color: darkred;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.App {
  position: relative;
  padding: 50px;
  text-align: center;
  color: aliceblue;
}

.open_btn {
  background-color: #ffe70f;
  padding: 15px;
  border: none;
  border-radius: 25px;
  color: rgb(14, 59, 0);
  font-weight: bolder;
  cursor: pointer;
}
